/* MAIN WINDOW */

* {
  font-family: Hack;
  font-size: 11px;
}

window#waybar {
  background: transparent;
}

/* WORKSPACE */

#workspaces button {
  background: $color8;
  color: $color15;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid $color4;
  border-radius: 7px;
}

#workspaces button.focused {
  color: $color7;
  background: $color0;
  border: 1px solid $color2;
}

#workspaces button.urgent {
  color: $color7;
  background: $color0;
  border: 1px solid $color1;
}

/* SYS STATS */

#cpu,
#memory,
#clock,
#disk,
#network {
  color: $color15;
  background: $color0;
  border: 1px solid $color2;
  border-radius: 7px;
  font-size: 14;
  min-width: 60px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#network {
  padding-left: 6px;
  padding-right: 6px;
}
