/* MAIN WINDOW */

* {
  font-family: $font;
  font-size: 11px;
}

window#waybar {
  background: transparent;
}

/* WORKSPACE */

#workspaces button {
  background: $color8;
  color: $color15;
  min-width: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid $color4;
  border-radius: 7px;
}

#workspaces button.focused {
  color: $color7;
  background: $color0;
  border: 1px solid $color2;
}

#workspaces button.urgent {
  color: $color7;
  background: $color0;
  border: 1px solid $color1;
}

/* SYS STATS */

#cpu,
#memory,
#clock,
#disk,
#network {
  color: $color15;
  background: $color0;
  border: 1px solid $color2;
  border-radius: 7px;
  font-size: 14;
  min-width: 60px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

#cpu,
#memory {
  margin-top: 8px;
}

#network,
#battery,
#clock {
  margin-bottom: 8px;
}

#network {
  padding-left: 6px;
  padding-right: 6px;
}
