/* MAIN WINDOW */

* {
  font-family: Hack;
  font-size: 11px;
}

window#waybar {
  background: transparent;
}

/* WORKSPACE */

#workspaces button {
  background: $color8;
  color: $color15;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid $color4;
}

#workspaces button.focused {
  color: $color7;
  background: $color0;
  border: 2px solid $color2;
}

#workspaces button.urgent {
  color: $color7;
  background: $color0;
  /* border: 1px solid $color1; */
}

/* SYS STATS */

#cpu {
  color: $foreground;
  background: transparent;
}

/* 
#cpu,
#memory,
#clock {
  padding: 4px;
  color: $color15;
  background: $color8;
  border: 2px solid $color4;
  margin: 8px;
  border-radius: 6px;
} */
